{% extends "mynews/base.html" %} 
{% block title %}TP_PARTNERS{% endblock %}

{% block content %}
<div class="col-md-2"></div>
<div class="col-md-8">
		<header>
			<h1>Archive</h1>
		</header><br />
		{% if archive_news %}
		<table cellspacing="0" cellpadding="0" class="table table-striped" >
			<thead>
				<tr>
					<th scope="col" style="width: 63%">Title</th>
					<th scope="col" style="width: 29%">Reg.date</th>
					<th scope="col" style="width: 8%">Comments</th>
				</tr>
			</thead>
			
			<tbody>
			<!-- 모든뉴스 -->
			{% for news in archive_news %}
				<tr>
					<td scope="row"><a href="{% url 'mynews:detail' news.id %}">{{ news.title_text }}</a></td>
					<td>{{news.pub_date}}</td>
					<td align="center">{{news.comment_count}}</td>
				</tr>
			{% endfor %}
			</tbody>
			
			<tfoot>
				<!-- 페이지네이션 -->
				<div class="pagination">
				    <span class="step-links">
				        {% if archive_news.has_previous %}
				            <a href="?page={{ archive_news.previous_page_number }}">previous</a>
				        {% endif %}
				
				        <span class="current">
				            Page {{ archive_news.number }} of {{ news.paginator.num_pages }}.
				        </span>
				
				        {% if archive_news.has_next %}
				            <a href="?page={{ archive_news.next_page_number }}">next</a>
				        {% endif %}
				    </span>
				</div>
			</tfoot>
		</table>
		{% else %}
			<p>No News. Something wrong..</p>
		{% endif %}

</div>
{% endblock %}