{% extends "mynews/base.html" %}
{% block title %}TP_NEWS{% endblock %}

{% block content %}

<!-- {% if user.is_authenticated %} -->
<!-- <div> -->
	
<!-- </div> -->

<!-- {% endif %} -->

<div>
	<section id="hero" class="light-typo">
		<div id="cover-image" class="image-bg animated fadeIn"></div>
		<div class="container welcome-content">
			<div class="middle-text">
				<h1>HELLO, <b>TP PARTNERS</b></h1>
				<h2>
					Please  <b>Log in</b> first.
				</h2>
			</div>
		</div>
	</section>
</div>

{% endblock %}

