{% extends "mynews/base.html" %} 
{% block title %}TP_NEWS{% endblock %}

{% block jumbotron %}
	{% if spot_price %}
	<div class="container">
		<small>
			<div><small><i>{{spot_price.closedday_text}}</i></small></div>
			<div><small>{{spot_price.henryhub_text}} </small></div>
			<div><small>{{spot_price.wticushing_text}} </small></div>
		</small>
	</div>
	{% endif %}
{% endblock %}


{% block content %}
<div>
		<header>
			<h1>Today News</h1>
		</header><br />
		{% if daily_news_list %}
		<table cellspacing="0" cellpadding="0" class="table table-striped" >
			<thead>
				<tr>
					<th scope="col" style="width: 50%">Title</th>
					<th scope="col" style="width: 30%">Reg.date</th>
					<th scope="col" style="width: 20%">Comments</th>
				</tr>
			</thead>
			<tbody>
			<!-- 모든뉴스 -->
			{% for news in daily_news_list %}
				<tr>
					<td scope="row"><a href="{% url 'mynews:detail' news.id %}">{{ news.title_text }}</a></td>
					<td>{{news.pub_date}}</td>
					<td>Not yet..</td>
				</tr>
			{% endfor %}
			</tbody>
			<tfoot>
				<!-- 페이지네이션 -->
			</tfoot>
		</table>
		{% else %}
			<p>No News. Something wrong..</p>
		{% endif %}

</div>

{% endblock %}