<div class="panel panel-default word-break" news_data="{{news.id}}" comment_data="{{comment.id}}">
	<div class="panel-body" style="margin-left: 10px; margin-right: 10px">
		<div>
			<img src=" {{ STATIC_URL }}picture/{{comment.publisher_text}}.jpg " width="50" height="50"> 
			<span style="color: navy; font-weight: bold;">{{comment.publisher_text}}</span>
		</div>
		<div>
			<div class="comment-text" id="tempid">{{comment.comment_text|urlize|linebreaks}}</div>
		</div>
		<div style="font-size: x-small;">
			<span class="comment-pub-date">{{comment.pub_date}}</span> <span class="float-right" style="margin-left: 10px"><a href="#" class="comment-delete">Delete</a></span> <span class="float-right"><a
				href="#" class="comment-edit" style="font-size:">Edit</a></span>
		</div>
	</div>
</div>


<script>

var comment = " <div class='panel panel-default word-break' news_data='" + {{news.id}} + "' comment_data='" + {{comment.id}} +"'><div class='panel-body' style='margin-left: 10px; margin-right: 10px'>	<div><img src=' {{ STATIC_URL }}picture/" + {{comment.publisher_text}} + ".jpg ' width='50' height='50'> <span style='color: navy; font-weight: bold;'>" + {{comment.publisher_text}} + "</span></div><div><div class='comment-text' id='tempid'>" + {{comment.comment_text|urlize|linebreaks}} + "</div></div>	<div style='font-size: x-small;'><span class='comment-pub-date'>" + {{comment.pub_date}} + "</span> <span class='float-right' style='margin-left: 10px'><a href='#' class='comment-delete'>Delete</a></span> <span class='float-right'><a href='#' class='comment-edit' style='font-size:'>Edit</a></span></div></div></div>  "


////////////



$('.pushpin').click(function() {
	var $this = $(this);
	var news_id = $this.parents('.col-md-8').attr('news-data');
	
	$this.toggle(function() {
		$.ajax({
			url: "/mynews/news_clip/",
			type: "POST",
			data: {
				news_id: news_id,
			},
			datatype: "html",
			succcess: function(data) {
				alert("success");
			},
		}).done(function() {
			$this.parents('.col-md-8').find('.glyphicon.glyphicon-pushpin.float-right').addClass("pushpin-red");
		});
	}, function() {
		$.ajax({
			url: "/mynews/news_clip_cancel/",
			type: "POST",
			data: {
				news_id: news_id,
			},
			datatype: "html",
			succcess: function(data) {
				alert("success");
			},
		}).done(function() {
			$this.removeClass('pushpin-red');
		});
	});
});



















</script>





