 {% extends "mynews/base.html" %} {% block title %}TP_NEWS{% endblock %} 
 
 {% block content %}
 
<script>
$(document).ready(function(){
	$(".comment-edit").click(function(){
		$(this).parent().parent().parent().find(".comment-text").html('<form method="post id="aa"><textarea class="form-control comment-text-input"  name="comment_text">' + $(this).parent().parent().parent().find(".comment-text").text() + '</textarea></form>');
		$(this).parent().parent().parent().find(".comment-delete").hide();
		$(this).parent().parent().parent().find(".comment-edit").attr("style", "font-size: large");
	});
	
	$(".temp").click(function(){
// 		alert($(this).parent().parent().find("#comment-text-input").text());
// 		alert($(this).parent().parent().find(".form-control,.comment-text-input").text());
		comment_edit();
	});
});

function comment_edit() {
	$("#aa").submit(function(){
	alert("dfdjfoisjdfoisdjfio");
// 		alert($(this).parent().parent().find(".form-control,.comment-text-input").text());
	});
};

</script>


<div class="col-md-2"></div>
<div class="col-md-8">
	<header>
		<h1 id="today-news">Today News</h1>
	</header>
	<br /> {% if daily_news_list %}
	<div class="bs-example" data-example-id="collapse-accordion">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

			{% for news in daily_news_list %}

			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<div class="panel-title">
						<div align="left" style="font-size: small;">
							{{news.pub_date}} <span class="float-right" style="font-size: small; font-weight: bold;">{{news.comment_count}} COMMENTS</span>
						</div>
						<div>
							<h2>
								<a class="news-title" data-toggle="collapse" data-parent="#accordion" href="#{{news.id}}" aria-expanded="true" aria-controls="collapseOne" class="kor">{{ news.title_text }}</a>
							</h2>
							<h4>
								<a class="news-summary" data-toggle="collapse" data-parent="#accordion" href="#{{news.id}}" aria-expanded="true" aria-controls="collapseOne" class="kor">{{ news.summary_text|linebreaks}}</a>
							</h4>
						</div>
						<div class="news-opinion">{{ news.opinion_text|urlize|linebreaks}}</div>
						<div class="news-link">
							<a href="{{news.link_text}}">{{ news.link_text }}</a>
						</div>
					</div>
				</div>
				<div id="{{news.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">

						<!-- 						comment 로드 -->
						{% for comment in comment_list %}
						{% if comment.news == news %}
						<div class="panel panel-default word-break">
							<div class="panel-body" style="margin-left: 10px; margin-right: 10px">
								<div><a class="temp" href="#">temp</a></div>
								<div>
									<img src=" {{ STATIC_URL }}picture/{{comment.publisher_text}}.jpg " width="50" height="50"> <span style="color: navy; font-weight: bold;">{{comment.publisher_text}}</span>
								</div>
								<div>
									<div class="comment-text">{{comment.comment_text|urlize|linebreaks}}</div>
								</div>
								<div style="font-size: x-small;">
									{{comment.pub_date}}
									<span class="float-right" style="margin-left: 10px"><a href="{% url 'mynews:comment_delete' comment.id %}" class="comment-delete">Delete</a></span>
									<span class="float-right"><a href="#" class="comment-edit" style="font-size: ">Edit</a></span>
								</div>
							</div>
						</div>
						{% endif %}
						{% endfor %}

						<div>
							<br />
							<!-- 							comment 입력 폼 -->
							<form method="post">
								{% csrf_token %}
								<div>
									<textarea class="form-control" placeholder="Comment" id="comment_text"  name="comment_text"></textarea>
									<button type="submit" class="btn btn-default">Post Your Comment</button>
									<input type=hidden name="news_id" value="{{news.id}}">
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
	<!-- /example -->

	{% else %}
	<p>No News yet..</p>
	{% endif %}

</div>

{% endblock %}

<script type="text/javascript">

$(document).ready((function)(){
	$("#comment-edit").click((function)(){
		$("#comment-text").hide();
		alert("???");
	});
});





<!-- // Delete post on click -->
$("#talk").on('click', 'a[id^=delete-post-]', function(){
    var post_primary_key = $(this).attr('id').split('-')[2];
    console.log(post_primary_key) // sanity check
    delete_post(post_primary_key);
});

$("#talk").prepend("<li><strong>"+json.text+"</strong> - <em> "+json.author+"</em> - <span> "+json.created+"</span> - <a id='delete-post-"+json.postpk+"'>delete me</a></li>");


function delete_post(post_primary_key){
    if (confirm('are you sure you want to remove this post?')==true){
        $.ajax({
            url : "delete_post/", // the endpoint
            type : "DELETE", // http method
            data : { postpk : post_primary_key }, // data sent with the delete request
            success : function(json) {
                // hide the post
              $('#post-'+post_primary_key).hide(); // hide the post on success
              console.log("post deletion successful");
            },

            error : function(xhr,errmsg,err) {
                // Show an error
                $('#results').html("<div class='alert-box alert radius' data-alert>"+
                "Oops! We have encountered an error. <a href='#' class='close'>&times;</a></div>"); // add error to the dom
                console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
            }
        });
    } else {
        return false;
    }
};





</script>


<script>
	$(function() {
		$("#accordion").accordion();
	});
</script>
