 {% extends "mynews/base.html" %} {% block title %}TP_NEWS{% endblock %} 
 
 {% block content %}

<script type="text/javascript">
$(document).ready(function(){
	
// 	comment EDIT
	$(document).on('click', '.comment-edit', function(){
		var $parent = $(this).parent().parent().parent();
		var submit = "<a class='comment-submit'>submit</a>";
		var cancel = "<a class='comment-cancel'>cancel</a>";
		
		$parent.find(".comment-text").html('<textarea class="form-control"  name="comment_text">' + $(this).parent().parent().parent().find(".comment-text").text() + '</textarea>');
		$parent.find(".comment-delete").hide();
		
		$parent.find(".comment-edit").hide();
		$parent.find(".comment-pub-date").append(submit);
		$parent.find(".comment-submit").addClass("up");

		$parent.find(".comment-submit").click(function(){
			var $this = $(this);
			var edit_comment_text = $this.parents('.panel-body').find('.form-control').val();
			
			$.ajax({
				url: "/mynews/comment_edit/",
				type: "POST",
				data: {
					news_id: $this.parents('.panel.panel-default.word-break').attr("news_data"),
					comment_id: $this.parents('.panel.panel-default.word-break').attr("comment_data"),
					edit_comment_text: edit_comment_text,
				},
				datatype: "HTML",
				success: function(data) {
	 				$parent.find(".comment-text").html("<p>" + data + "</p>");
				},
			}).done(function() {
				$this.parents('.panel-body').find('.comment-edit').show();
				$this.parents('.panel-body').find('.comment-delete').show();
				$this.parents('.panel-body').find('.comment-submit').remove();
			});
		});
		
	});
	
// 	comment POST
	$('.btn.btn-default').click(function() {
		var $this = $(this);
		
		$.ajax({
			url: "/mynews/comment_post/",
			type: "POST",
			data: {
				news_id: $this.parents('.comment-post').attr("news_data"),
				comment_text: $this.parents('.comment-post').find('.form-control').val(),
			},
			datatype: "json",
			success: function(obj) {
				console.log(obj);
				var comment = " <div class='panel panel-default word-break' news_data='" + obj.news_id + "' comment_data='" + obj.comment_id +"'><div class='panel-body' style='margin-left: 10px; margin-right: 10px'>	<div><img src=' {{ STATIC_URL }}picture/" + obj.publisher_text + ".jpg ' width='50' height='50'> <span style='color: navy; font-weight: bold;'>" + obj.publisher_text + "</span></div><div><div class='comment-text'><p>" + obj.comment_text + "</p></div></div>	<div style='font-size: x-small;'><span class='comment-pub-date'>" + obj.pub_date + "</span> <span class='float-right' style='margin-left: 10px'><a class='comment-delete'>Delete</a></span> <span class='float-right'><a class='comment-edit' style='font-size:'>Edit</a></span></div></div></div>  "
				$this.parents('.panel-body').find('.comment-load').append(comment);
			},
		});
	});
	
// 	comment DELETE
	$(document).on('click', '.comment-delete', function(){
		var $this = $(this);
		
		$.ajax({
			url: "/mynews/comment_delete/",
			type: "POST",
			data: {
				comment_id: $this.parents('.panel.panel-default.word-break').attr("comment_data"),
				news_id: $this.parents('.panel.panel-default.word-break').attr("news_data"),
			},
			datatype: "html",			
			success: function() { 
				$this.parents('.panel.panel-default.word-break').remove();
			},
		});
	});
	
// 	comment CLIP
	$(document).on('click', '.glyphicon.glyphicon-pushpin.float-right:not(.pushpin-red)', function() {
		var $this = $(this);
		var news_id = $this.parents('.panel.panel-default').find('.panel-collapse.collapse').attr('id');
		
		$.ajax({
			url: "/mynews/news_clip/",
			type: "POST",
			data: {
				news_id: news_id,
			},
			datatype: "html",
			succcess: function(data) {
				alert("success");
			},
		}).done(function() {
			$this.parents('.panel-title').find(".glyphicon.glyphicon-pushpin.float-right").addClass('pushpin-red');
		});
	});
	
// 	comment CLIP_CANCEL
	$(document).on('click', '.pushpin-red', function() {
		var $this = $(this);
		var news_id = $this.parents('.panel.panel-default').find('.panel-collapse.collapse').attr('id');
		
		$.ajax({
			url: "/mynews/news_clip_cancel/",
			type: "POST",
			data: {
				news_id: news_id,
			},
			datatype: "html",
			succcess: function(data) {
				alert("success");
			},
		}).done(function() {
			$this.parents('.panel-title').find(".glyphicon.glyphicon-pushpin.float-right").removeClass('pushpin-red');
		});
	});
	
});

</script>


<div class="col-sm-1"></div>
<div class="col-md-8">
	<header>
		<h1 id="today-news">Today News</h1>
	</header>
	<br /> {% if daily_news_list %}
	<div class="bs-example" data-example-id="collapse-accordion">
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

			{% for news in daily_news_list %}

			<div class="panel panel-default">
				<div class="panel-heading" role="tab" id="headingOne">
					<div class="panel-title">
						<div align="left" style="font-size: small;">
						
							{% if news.is_clipped_by_me %}
								<span class="pushpin"><i class="glyphicon glyphicon-pushpin float-right pushpin-red"></i></span>
							{% else %}
								<span class="pushpin"><i class="glyphicon glyphicon-pushpin float-right"></i></span>
							{% endif %}
							
							{{news.pub_date}} 
							<span class="float-right" style="font-size: small; font-weight: bold;">{{news.comment_count}} COMMENTS &nbsp;&nbsp;</span>
						</div>
						<div>
							<h2>
								<a class="news-title" data-toggle="collapse" data-parent="#accordion" href="#{{news.id}}" aria-expanded="true" aria-controls="collapseOne" class="kor">{{ news.title_text }}</a>
							</h2>
							<h4>
								<a class="news-summary" data-toggle="collapse" data-parent="#accordion" href="#{{news.id}}" aria-expanded="true" aria-controls="collapseOne" class="kor">{{ news.summary_text|linebreaks}}</a>
							</h4>
						</div>
						<div class="news-opinion">{{ news.opinion_text|urlize|linebreaks}}</div>
						<div class="news-link">
							<a href="{{news.link_text}}">{{ news.link_text }}</a> 
						</div>
					</div>
				</div>
				<div id="{{news.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
					<div class="panel-body">
					<div class="comment-load">
						<!-- 						comment 로드 -->
						{% for comment in comment_list %} 
						{% if comment.news == news %}
						<div class="panel panel-default word-break" news_data="{{news.id}}" comment_data="{{comment.id}}">
							<div class="panel-body" style="margin-left: 10px; margin-right: 10px">
								<div>
									<img src=" {{ STATIC_URL }}picture/{{comment.publisher_text}}.jpg " width="50" height="50"> <span style="color: navy; font-weight: bold;">{{comment.publisher_text}}</span>
								</div>
								<div>
									<div class="comment-text">{{comment.comment_text|urlize|linebreaks}}</div>
								</div>
								<div style="font-size: x-small;">
									<span class="comment-pub-date">{{comment.pub_date}}</span>
									<span class="float-right" style="margin-left: 10px"><a class="comment-delete">Delete</a></span>
									<span class="float-right"><a  class="comment-edit" style="font-size:">Edit</a></span>
								</div>
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>

						<!-- 							comment 입력  -->
						<div class="comment-post" news_data="{{news.id}}">
							<br />
							<div>
								<textarea class="form-control" placeholder="Comment" id="comment_text" name="comment_text"></textarea>
								<button class="btn btn-default">Post Your Comment</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}

		</div>
	</div>
	<!-- /example -->

	{% else %}
	<p>No News yet..</p>
	{% endif %}

</div>

{% endblock %}

