
/* --------------------jangwon------------------------ */
.news-title {
	font-family: Arial, Dotum, "돋움", sans-serif;
	font-weight: bold;
	font-size: x-large;
}

.news-summary {
	font-family: Arial, Dotum, "돋움", sans-serif;
/* 	font-weight: bold; */
	font-size: large;
}

.news-opinion {
	font-family: Arial, Dotum, "돋움", sans-serif;
/* 	font-size: x-small; */
}

.news-link {
	color: black;
	font-family: Arial, Dotum, "돋움", sans-serif;
	font-size: small;
}