
/* --------------------jangwon------------------------ */
.news-title {
	font-family: Arial, Dotum, "돋움", sans-serif;
	font-weight: bold;
}

.news-summary {
	font-family: Arial, Dotum, "돋움", sans-serif;
	font-weight: bold;
}

.news-opinion {
	font-family: Arial, Dotum, "돋움", sans-serif;
/* 	font-size: x-small; */
}

.news-link {
	color: black;
	font-family: Arial, Dotum, "돋움", sans-serif;
	font-size: small;
}

.dotum {
	font-family: Arial, Dotum, "돋움", sans-serif;
}

.float-right {
	float: right;
}

.word-break {
	word-break: break-all;
}

.pushpin {
	font-size: 1.5em;
}

.pushpin-red {
	color: red;
}

.up {
	float: right;
	font-size: large;	
}